body,
html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url("/images/background.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  font: 12px Helvetica, Arial, sans-serif;
}
#container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 1000px;
  left: 50%;
  margin-left: -500px;
  min-height: 100%;
  background: url("/images/body.png") 155px top repeat-y;
}
#header {
  width: 100%;
  height: 300px;
  margin: 0px;
  padding: 10px 0px;
  background: url("/images/clouds.png") 47px top no-repeat;
  text-align: center;
}
#header h1 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 2.5em;
}
#header h1 a {
  text-decoration: none;
}
#header .char1 {
  color: #ff7170;
}
#header .char2 {
  color: #ffc675;
}
#header .char3 {
  color: #fef775;
}
#header .char4 {
  color: #c6ff74;
}
#header .char5 {
  color: #76ff73;
}
#header .char6 {
  color: #75ffb4;
}
#header .char7 {
  color: #75ffef;
}
#header .char8,
#header .char9 {
  color: #74ddfd;
}
#header .char10 {
  color: #7489ff;
}
#header .char11 {
  color: #bb74ff;
}
#header .char13,
#header .char14,
#header .char15,
#header .char16 {
  color: #ff7ab1;
}
#content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 690px;
  margin: 0px auto;
  padding: 0px 40px 380px;
}
#right,
#left {
  width: 690px;
  margin: 0px auto;
  position: relative;
}
#right ul,
#left ul {
  list-style: none;
  padding: 0px;
}
#right li,
#left li {
  margin-bottom: 10px;
}
#right li a,
#left li a {
  width: 100%;
  height: 100%;
  display: block;
}
#left ul {
  position: absolute;
  left: -130px;
  top: -140px;
}
#left li.anka,
#left li.lucka,
#left li.mishko {
  width: 80px;
  height: 140px;
}
#left li.anka:hover,
#left li.lucka:hover,
#left li.mishko:hover {
  background-position: right top;
}
#left li.anka {
  background: url("/images/anka.gif");
}
#left li.lucka {
  background: url("/images/lucka.gif");
}
#left li.mishko {
  background: url("/images/mishko.gif");
}
#right ul {
  position: absolute;
  right: -130px;
  top: -140px;
}
#right li.twitter {
  width: 80px;
  height: 100px;
  background: url("/images/twitter.png");
}
#right li.mail {
  width: 80px;
  height: 100px;
  background: url("/images/mail.png");
}
#right li.douban {
  width: 74px;
  height: 100px;
  background: url("/images/douban.png");
}
#tentacles {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 310px;
  background: url("/images/tentacles.png") 120px bottom no-repeat;
}
#index-buttons {
  padding-top: 100px;
  text-align: center;
}
#index-buttons a.awesome {
  display: inline-block;
  width: 150px;
  height: 60px;
  overflow: hidden;
  text-indent: 150px;
  background: url("/images/awesome.png") left top;
}
#index-buttons a.awesome:hover {
  background-position: left bottom;
}
.avatar {
  display: block;
  width: 80px;
  height: 140px;
  text-indent: 80px;
  overflow: hidden;
  background-position: left top;
}
.avatar:hover {
  background-position: right top;
}
.avatar.anka {
  background-image: url("/images/anka.gif");
}
.avatar.lucka {
  background-image: url("/images/lucka.gif");
}
.avatar.mishko {
  background-image: url("/images/mishko.gif");
}
