@import "nib"

body, html
	height 100%
	margin 0px
	padding 0px

body
	background-image url('/images/background.png')
	background-size cover
	background-attachment fixed
	font 12px Helvetica, Arial, sans-serif

#container
	box-sizing border-box
	position relative
	width 1000px
	left 50%
	margin-left -500px
	min-height 100%

	background url('/images/body.png') 155px top repeat-y

#header
	width 100%
	height 300px
	margin 0px
	padding 10px 0px

	background url('/images/clouds.png') 47px top no-repeat
	text-align center

	h1
		font-family 'Press Start 2P', sans-serif
		font-size 2.5em

	.char1 { color: #ff7170 }
	.char2 { color: #ffc675 }
	.char3 { color: #fef775 }
	.char4 { color: #c6ff74 }
	.char5 { color: #76ff73 }
	.char6 { color: #75ffb4 }
	.char7 { color: #75ffef }
	.char8, .char9 { color: #74ddfd }
	.char10 { color: #7489ff }
	.char11 { color: #bb74ff }

	.char13, .char14, .char15, .char16
		color #ff7ab1

#content
	box-sizing border-box
	width 690px
	margin 0px auto
	padding 0px 40px 380px

#icons
	width 690px
	margin 0px auto
	position relative

	ul
		list-style none
		absolute right -130px top -140px
		padding 0px
	
	li
		margin-bottom 10px

	li a
		width 100%
		height 100%
		display block

	li.twitter
		width 80px
		height 100px
		background url('/images/twitter.png')

	li.mail
		width 80px
		height 100px
		background url('/images/mail.png')
	
	li.douban
		width 74px
		height 100px
		background url('/images/douban.png')

#tentacles
	box-sizing border-box
	position absolute
	bottom 0px
	width 100%
	height 310px

	background url('/images/tentacles.png') 120px bottom no-repeat

#index-buttons
	padding-top 100px
	text-align center

	a.awesome
		display inline-block
		width 150px
		height 60px
		overflow hidden
		text-indent 150px

		background url('/images/awesome.png') left top

		&:hover
			background-position left bottom

.avatar
	display block
	width 80px
	height 140px
	text-indent 80px
	overflow hidden

	background-position left top

	&:hover
		background-position right top

	&.anka
		background-image url('/images/anka.gif')

	&.lucka
		background-image url('/images/lucka.gif')

	&.mishko
		background-image url('/images/mishko.gif')
