!!! 5
html(lang='en')
  head
    block header
      meta(charset='utf-8')

      title
          block title
            = locals.title

      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Press+Start+2P')
      link(rel='stylesheet', href='/css/main.css')
  
  body
    #container
      #header
        h1= locals.title
      #icons
        ul
          li.twitter: a(href='http://twitter.com/MarshmallowTeam')
          li.douban: a(href='http://www.douban.com/group/407170/')
      #content
        block content
          != page.html
      #tentacles

    script(src='/js/jquery.js')
    script(src='/js/jquery.lettering.js')
    script(src='/js/main.js')
